<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Employee List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}">123</td>
        <td th:text="${employee.name}">Emp Name</td>
        <td th:text="${employee.code}">Emp Code</td>
    </tr>
</table>

</body>
</html>